@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}
@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'open-sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}
