/* Modal Window */
a[data-modal]{background-color:rgba(255, 255, 0, 0.4); color:inherit; text-decoration:none;}
body.modal{overflow:hidden;}
body:not(.modal) div.modal-background{display:none;}
body:not(.modal) div.modal{display:none;}
div.modal-background{position:fixed; top:0; left:0; background:rgba(0, 0, 0, 0.3); width:100%; height:100vh; z-index:2000;}
div.modal{min-width:320px; max-width:1200px; width:90%; min-height:calc(100vh - 140px); position:fixed; top:70px; margin:auto; left:0; right:0; background:#fff; border:10px solid #eee; z-index:3000;}
div.modal span.cross{position:absolute; display:block; width:40px; height:40px; background:#eee; border-radius:50%; top:-28px; right:-23px; cursor:pointer;}
div.modal span.cross > span{position:absolute; width:20px; height:4px; background: #000; transform:rotate(-45deg); top:18px; left:10px;}
div.modal span.cross > span:first-child{transform:rotate(45deg);}
div.modal main{min-height:calc(100vh - 160px); padding:20px;}
div.modal main img{max-width:100%; max-height:100%; display:block; margin:auto;}
div.modal main > *:not(img){width:100%; min-height:calc(100vh - 160px); display:block;}
div.modal main p{}

