*{outline:0; box-sizing:border-box;}
html{scroll-behavior:smooth; font-size:100%; background-position:top center; background-repeat:no-repeat; background-attachment:fixed;}
body{color:#000; font-size:22px; margin:0; padding:0; font-family: open-sans, sans-serif; background-position:top center; background-repeat:no-repeat; background-attachment:fixed;}
header, footer, main, aside, section, article, figure, figcaption{display:block;}

div#page{}
body > aside > nav{position:fixed; width:30px; top:0px; z-index:1000;}

header{position:fixed; top:0px; left:0px; height:44px; width:100%; padding:5px 10px 5px 50px; z-index:50; text-transform:uppercase; font-size:25px; line-height:25px; font-weight:200; letter-spacing:-1px; background:rgba(255,255,255,0.3);}
header a{color:#92278f; text-decoration:none;}
header img{height:35px; margin:0; vertical-align:top;}

footer{position:fixed; bottom:0px; right:50px; z-index:50;}
footer a{position:absolute; bottom:-50px; right:0; color:#fff; white-space:nowrap; display:inline-block; background:rgba(0, 0, 0, 0.3); height:50px; line-height:50px; padding:5px 15px; font-size:11px; text-decoration:none; text-align:center; transition:bottom 0.5s;}
footer a.display{bottom:0px;}
footer img{width:20px;}
footer span{position:absolute; bottom:0; left:0; font-size:0.8em; display:block; height:50px; line-height:50px; width:50px; text-align:center; background:rgba(255, 255, 255, 0.3);}

*[data-anim="cross-fade"], *[data-anim="fadein"], *[data-anim="progress"]{opacity:0;}
*[data-anim="cross-fade"].display, *[data-anim="fadein"].display, *[data-anim="progress"].display{opacity:1;}

figure img[data-anim="cross-fade"], figure div[data-anim="cross-fade"]{position:absolute; display:inline-block; left:0; right:0; margin:auto;}

.sources{position:absolute; bottom:0; left:50px; padding:5px 10px;}

/*************************** PARTS **/
div#page > section{opacity:1; height:100vh; overflow:hidden; width:100%; padding:60px 0 0 0;}
div#page > section article{opacity:0;}
div#page > section article.display{opacity:1;}

/*************************** MENU ARROW ***/
menu{position:fixed; margin:0px; top:0px; z-index:50; right:50px; height:44px; width:94px; display:block; background:rgba(0, 0, 0, 0.4);text-align:center; padding:0px;}
menu img{width:40px; padding:10px; opacity:0.7; cursor:pointer; margin-bottom:0; transition:all 0.2s ease-in;}
menu img:hover, menu img.hover{opacity:1; box-shadow:0 0 7px rgba(0, 0, 0, 0.3); background:rgba(0, 0, 0, 0.1); width:42px; padding:0px 2px;}
menu img.disabled, 
menu img.disabled:hover{opacity:0.1; cursor:not-allowed;}

/*************************** MENU **/
ul.nav{list-style:none; position:fixed; top:100px; left:-225px; margin:0; padding:0; transition:left 0.5s;}
body > aside > nav:hover ul.nav,
ul.nav.show{left:0px;}
ul.nav li{}
ul.nav li a{text-decoration:none; color:#fff; font-size:14px; display:block; width:250px; line-height:28px; margin:1px 0; padding:0 20px; background:rgba(0, 0, 0, 0.3);}
ul.nav li a:hover{text-decoration:underline;}
ul.nav li.actif a{text-decoration:underline; padding:0 20px 0 40px; font-style:italic; background-image:url(../images/elements/active_menu.png); background-repeat:no-repeat; background-position:right center;}