@media print{
    div#page{
        height:auto !important;
    }
    
    div#page > section{
        width:90%;
        height:90vh;
        position:relative !important;
        opacity:1 !important;
        overflow:visible !important;
        page-break-after: always;
    }
    
    div#page > section::after{
        display:block;
        position:absolute;
        width:100%;
        bottom:0;
        font-size:10px;
        font-style:italic;
        content:'Made by Grafree';
    }

    div#page > section article{
        opacity:1 !important;
    }

    div#page > section *[data-anim="fadein"]{
        opacity:1 !important;
    }

    div#page > section *[data-anim="cross-fade"]:last-of-type{
        opacity:1 !important;
    }

    aside, menu, footer{display:none}
}