:root {
  --bkg-color: #e5e5e5;
  --text-color: #000000;
  --text-color-invert: #ffffff;
  --title-color: #008f93;
  --main-color:rgba(0, 143, 147, 1);
  --main-color-opacity-7:rgba(0, 143, 147, 0.7);
  --main-color-opacity-4:rgba(0, 143, 147, 0.4);
  --main-color-opacity-2:rgba(0, 143, 147, 0.2);
  --secondary-color: #0081c8;
}
html{font-size:16px; background-color:var(--bkg-color);}
body{font-size:16px; background-color:var(--bkg-color); color:var(--text-color);}
article{display:block; margin:0px auto 0px auto; text-align:center; padding:0; width:100%; min-height:200px; max-width:1024px;}
.justify{display:flex; justify-content:space-around;}

menu{background-color:rgba(0, 143, 147, 0.4);}
menu img:hover, menu img.hover{opacity:1; box-shadow:0 0 7px var(--main-color-opacity-7); background:var(--main-color-opacity-7); width:42px; padding:0px 2px;}
ul.nav li a{background-color:var(--main-color-opacity-2);}
ul.nav li.actif a{background-color:var(--main-color-opacity-7);}
body > aside > nav:hover ul.nav li a,
ul.nav.show li a{background-color:var(--main-color-opacity-7);}
footer a{background-color:var(--main-color-opacity-4);}
footer a:hover{background-color:var(--main-color-opacity-7);}
footer span{color:var(--main-color-opacity-7); font-style:italic;}

h1{font-size:4.5em; letter-spacing:-0.07em; line-height:75px; text-transform:uppercase; text-align:center; margin:0 0 0.75em 0; padding:0 1.5em; color:var(--title-color);}
h2{font-size:1.6em; font-weight:100; text-transform:uppercase; text-align:center; padding:0 1.5em 1.4em 1.5em;}
h1 + h2{margin-top:-1.5em;}
h3{font-size:2.5em; line-height:2.5em; font-weight:normal; text-transform:uppercase; padding:0 2.5em 1.4em 1.5em; }
h4{}
h5{}
h6{font-size:1.8em;}
.title-center-up{position:absolute; bottom:50%; left:0; margin:0; width:100%;}
.title-center-down{position:absolute; top:50%; left:0; margin:0; width:100%;}
.invert{color:var(--text-color-invert);}

p{color:#333;}
article img, figure img{margin:0 0 40px 0;}

figure{position:relative; min-width:100px; text-align:center; margin:0 auto;}
figure.article{max-width:250px; background-color:rgba(78, 162, 170, 0.15);}
figure.article img{width:80%; margin:0; position:relative; margin-top:-45px;}
figure.article figcaption{font-size:26px; font-weight:200; padding:10px 30px 30px 30px;}
figure.article::after{content:''; position:absolute; bottom:-15px; left:0px; width:100%; display:block; height:30px; background-image:url(../images/elements/figure-ornement.png); background-repeat:no-repeat; background-position:center; background-size:auto 30px;}

/** PICTURE LEFT FLOAT **/
figure.left{float:left; height:100vh; width:40%;}
figure.left + *{width:60%; height:100vh; float:right; position:relative;}
figure.left img{max-height:95vh; position:absolute; bottom:0; left:5%;}

.halfleft{width:40%; float:left; margin:0 5%;}


/** VIDEO **/
video{width:100%; height:100%; display:block; max-height:70vh; background-color:#000;}
.clipped{border:20px solid #ffffff; box-shadow:0 0 10px rgba(0, 0, 0, 0.2); width:90%; margin:auto; position:absolute; top:150px; left:0; right:0;}
.clipped::before{content:''; position:absolute; top:-370px; left:0; display:block; width:100%; height:370px; background-image:url(../images/elements/clips.png); background-position:top center; background-repeat:no-repeat;}

/** LIST **/
article ul{list-style:none; width:70%; margin:30px 15% 10px 15%; text-align:left;}
article ul li{background-color:rgba(255, 255, 255, 1); position:relative; font-size:15px; padding:10px 20px 10px 50px; color:var(--secondary-color); margin:25px 0 5px 0; box-shadow:0 0 5px rgba(0, 0, 0, 0.2);}
article ul li:before{position:absolute; top:30px; left:17px; content:''; display:block; width:18px; height:18px; background:#e5e5e5; box-shadow:0 0 5px rgba(0, 0, 0, 0.2) inset;}
article ul li h6{margin:10px 0;}
article ul li img{margin:0; vertical-align: middle; margin:0 15px 0 50px; width:26px; height:26px;}

/** TABLE **/
table{width:80%; margin:5% auto;}
table th{width:33%; font-size:18px; padding:20px 10px; margin:10px; text-align:left; box-shadow:0px 0px 5px #999; font-weight:200; background-color:var(--title-color); color:#fff; border:10px solid #fff;}
table td{padding:0px 10px; height:250px;text-align:left; vertical-align:top;}
table ul{margin:0; width:auto; padding:0;}
table ul li{background:none; box-shadow:none; padding:0 0 0 35px; margin:10px 0 0 0; color:var(--text-color);}
table ul li::before{background-color:var(--title-color); top:5px; left:15px; width:10px; height:10px;}

/** CAPTION AROUND **/
p.right{position:absolute; left:-260px; text-align:right;}
p.left{position:absolute; right:-280px; text-align:left;}
p.top{position:absolute; top:10px;}
p.bottom{position:absolute; bottom:-150px;}
p.topleft{position:absolute; top:0px; right:-280px;}
p.topright{position:absolute; top:0px; left:-260px;}
p.bottomleft{position:absolute; bottom:0px; right:-280px;}
p.bottomright{position:absolute; bottom:0px; left:-260px;}
p.right, p.left, p.top, p.bottom, p.topleft, p.topright, p.bottomleft, p.bottomright{width:250px; font-size:20px; padding:20px; background:rgba(240, 240, 240, 0.85); box-shadow:0px 0px 5px rgba(0, 0, 0, 0.2); border:10px solid #fff;}
p.paperfold{background-image:url(../images/elements/bkg-paper-fold.jpg); background-size:250px; border:10px solid #fff; color:#ffffff;}


/** PROGRESS BAR **/
progress{-webkit-appearance:none; appearance: none; margin:5px auto 30px auto; width:60%; max-width:950px; height:50px; background-color:#eeeeee; border:1px solid #dddddd; outline:0; box-shadow:0 1px 3px rgba(0, 0, 0, 0.25) inset; display:block; border: 10px solid #fff; box-shadow:0 0 5px rgba(0, 0, 0, 0.2);}
progress::-webkit-progress-bar{background-color:rgba(255, 255, 255, 0.2); outline:0; box-shadow:0 1px 3px rgba(0, 0, 0, 0.25) inset;}
progress::-webkit-progress-value{background-color:var(--secondary-color);}